body {
  padding: 50px;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #89d8f0;
}


button {
  border: none;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 50px;
  padding: 30px;
  background-color: #20c4f5;  
  margin-top: 30px;
}

button:hover {
  background-color: #0d96bf;
  cursor: pointer;
}


a {
  color: #00B7FF;
}
